[user]
[commit]
	gpgsign = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[color "status"]
  added = green bold
  changed = red bold
  untracked = cyan
  branch = yellow black bold ul
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[core]
	excludesfile = ~/.gitignore_global
	editor = /usr/bin/vim
	fileMode = false
	autocrlf = input
[pull]
	ff = only
[init]
	defaultbranch = main
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[gpg]
	format = ssh
[credential]
	helper = osxkeychain
